<%= render "shared/navbar" %>

<%= flash[:notice] if flash[:notice] %>
<%= flash[:error] if flash[:error]%>

<%= render "shared/sidebar" %>

<div class="main">
  <% if @entity[0].nil? %>
    <div class="empty">
      <h2>There's nothig to show</h2>
      <%= link_to "Create entity", new_entity_path, class: "btn btn__link" %>
    </div>
  <% else %>
    <h2><%= @entity[0].name %></h2>
    <%= render "shared/entity" %>
  <% end %>
</div>
