<% if flash[:notice] %>
  <div id="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div id="flash-error">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="entity">
  <h2><%= @entity[0].name %></h2>
  <div class="entity__header">
    <div class="entity__header--info">
      <span><%= @entity[0].name %>:</span>
      <br>
      <span id="entity_status"><%= @entity[0].status %></span>
    </div>
    <div class="entity__header--actions">

      <% if @entity[0].status == "Locked"%>
        <%= link_to "New task", "#{new_task_path}/#{@entity[0].id}", class: "btn btn__link btn__link--locked"%>
      
        <div class="filter btn btn__action btn__action--locked" role="button">Filter</div>
        <div class="sort btn btn__action btn__action--locked" role="button">Sort</div>
        <div class="show_options btn btn__action btn__action--locked" role="button">
          <span>...</span>
          <div class="options" id="options">
            <div class="lock_entity">
              <%= form_for @first do |f| %>
                <%= f.hidden_field :status, value: "Locked" %>
                <%= f.submit "Lock entity", class: "btn btn__action btn__action--locked" %>
              <% end %>
            </div>
            <div class="clear_entity">
              <%= button_to "Clear entity", task_path(@entity[0].id), method: :delete, class: "btn btn__action btn__action--locked"%>
            </div>
            <div class="delete_entity">
              <%= button_to "Delete entity", entity_path(@entity[0].id), method: :delete, class: "btn btn__action btn__action--locked" %>
            </div>
            <div class="update_entity">
              <%= link_to "Update entity", edit_entity_path(@entity[0].id), class: "btn btn__link", html: { role: "button" } %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to "New task", "#{new_task_path}/#{@entity[0].id}", class: "btn btn__link"%>
      
        <div class="filter btn btn__action" role="button">Filter</div>
        <div class="sort btn btn__action" role="button">Sort</div>
        <div class="show_options btn btn__action" role="button">
          <span>...</span>
          <div class="options" id="options">
            <div class="lock_entity">
              <%= form_for @first do |f| %>
                <%= f.hidden_field :status, value: "Locked" %>
                <%= f.submit "Lock entity", class: "btn btn__action" %>
              <% end %>
            </div>
            <div class="clear_entity">
              <%= button_to "Clear entity", task_path(@entity[0].id), method: :delete, class: "btn btn__action"%>
            </div>
            <div class="delete_entity">
              <%= button_to "Delete entity", entity_path(@entity[0].id), method: :delete, class: "btn btn__action" %>
            </div>
            <div class="update_entity">
              <%= link_to "Update entity", edit_entity_path(@entity[0].id), class: "btn btn__link", html: { role: "button" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="entity__body">
    <%= render  "shared/tasks" %>
  </div>
</div>
