<div class="tasks not_started">
      <h3>not started</h3>
      
      <div class="task__card">
        <% if !@task_by_status["not_started"].empty? %>
          <% @task_by_status["not_started"].each do |task| %>
            <div class="task__card--header">
              <span>...</span>
              <div class="task__actions">
                <%= link_to "Update task", edit_task_path(task.id), class: "btn btn__action", html: { role: "button" } %>
                <%= button_to "Delete task", task_path(task.id), method: :delete, class: "btn btn__action"%>
                <div class="task__actions--status">
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "In progress" %>
                    <%= f.submit "In progress", class: "btn btn__action" %>
                  <% end %>
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "Done" %>
                    <%= f.submit "Done", class: "btn btn__action" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="task__card--body">
              <%= task.name %>
            </div>
            <div class="task__card--status">
              <span>Status: <%= task.status %></span>
              <span>Ends at: <%= task.endtime.strftime('%m-%d-%Y') %></span>
            </div>
          <% end %>
        <% else %>
          <p>There is no task</p> 
        <% end %>
      </div>
    </div>
    <div class="tasks in_progress">
      <h3>in progress</h3>
      
      <div class="task__card">
        <% if !@task_by_status["in_progress"].empty? %>
          <% @task_by_status["in_progress"].each do |task| %>
            <div class="task__card--header">
              <span>...</span>
              <div class="task__actions">
                <%= link_to "Update task", edit_task_path(task.id), class: "btn btn__action", html: { role: "button" } %>
                <%= button_to "Delete task", task_path(task.id), method: :delete, class: "btn btn__action"%>
                <div class="task__actions--status">
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "Not started" %>
                    <%= f.submit "Not started", class: "btn btn__action" %>
                  <% end %>
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "Done" %>
                    <%= f.submit "Done", class: "btn btn__action" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="task__card--body">
              <%= task.name %>
            </div>
            <div class="task__card--status">
              <span>Status: <%= task.status %></span>
              <span>Ends at: <%= task.endtime.strftime('%m-%d-%Y') %></span>
            </div>
          <% end %>
        <% else %>
          <p>There is no task</p>
        <% end %>
      </div>
    </div>
    <div class="tasks done">
      <h3>done</h3>
      
      <div class="task__card">
        <% if !@task_by_status["done"].empty? %>
          <% @task_by_status["done"].each do |task| %>
            <div class="task__card--header">
              <span>...</span>
              <div class="task__actions">
                <%= link_to "Update task", edit_task_path(task.id), class: "btn btn__action", html: { role: "button" } %>
                <%= button_to "Delete task", task_path(task.id), method: :delete, class: "btn btn__action"%>
                <div class="task__actions--status">
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "Not started" %>
                    <%= f.submit "Not started", class: "btn btn__action" %>
                  <% end %>
                  <%= form_for task do |f| %>
                    <%= f.hidden_field :status, value: "In progress" %>
                    <%= f.submit "In progress", class: "btn btn__action" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="task__card--body">
              <%= task.name %>
            </div>
            <div class="task__card--status">
              <span>Status: <%= task.status %></span>
              <span>Ends at: <%= task.endtime.strftime('%m-%d-%Y') %></span>
            </div>
          <% end %>
        <% else %>
          <p>There is no task</p>
        <% end %>
      </div>
    </div>